*{
  padding: 0;
  margin: 0;
}
theList: hover{
  cursor: pointer;
  border-style: outset;
}
.theHeader{
  text-align: center;
}
.border{
  border-style: solid;
  height: auto;
  width: auto;
}
.listItems{
  padding: 0.8rem 0 0.8rem 0;
}
